.content {
  font-family: 'Cutive Mono', monospace;
  padding: 4rem;

  h6 {
    font-weight: bold;
    text-transform: uppercase;
  }
  blockquote {
    margin-left: 10%;
    margin-right: 10%;

    header {
      margin-bottom: 0.5rem;
    }
    h6 {
      margin-bottom: 0;
    }
  }
}

@media only screen {
  main {
    width: 50%;
  }
  .hero {
    top: 0;
    right: 0;
    width: 50%;
    position: fixed;
    background-color: #eee;
  }
}